@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Roles</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a asp-controller="Home" asp-action="Index">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Roles
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right">
								<div >
									<a asp-action="Create" class="btn btn-primary">Create New Role</a>
									
								</div>
							</div>
						</div>
					</div>



<!-- Simple Datatable start -->
					<div class="card-box mb-30">
						<div class="pd-20">
							<h4 class="text-blue h4 text-center">Roles</h4>
							<p class="mb-0">
								
							</p>
						</div>

						<div class="pb-20">
							<table class="table hover data-table-export nowrap">
								<thead>
									<tr>
										<th class="table-plus datatable-nosort">ID</th>
										<th>Name</th>
										<th class="datatable-nosort">Action</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
										<td class="table-plus">@item.Id</td>
										<td>@item.Name</td>
										<td>
											<div class="dropdown">
												<a
													class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
													href="#"
													role="button"
													data-toggle="dropdown"
												>
													<i class="dw dw-more"></i>
												</a>
												<div
													class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
												>
													<a class="dropdown-item" asp-route-id="@item.Id" asp-controller="Roles" asp-action="Details"
														><i class="dw dw-eye"></i> View</a
													>
													<a class="dropdown-item" asp-route-id="@item.Id" asp-controller="Roles" asp-action="Edit"
														><i class="dw dw-edit2"></i> Edit</a
													>
													<a class="dropdown-item" asp-route-id="@item.Id" asp-controller="Roles" asp-action="Delete"
														><i class="dw dw-delete-3"></i> Delete</a
													>
												</div>
											</div>
										</td>
									</tr>
									}
									</tbody>
							</table>
						</div>
					</div>
					<!-- Simple Datatable End -->

@section ExportButtonDatatable{
	<!-- buttons for Export datatable -->
		<script src="~/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
		<script src="~/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
		<script src="~/src/plugins/datatables/js/buttons.print.min.js"></script>
		<script src="~/src/plugins/datatables/js/buttons.html5.min.js"></script>
		<script src="~/src/plugins/datatables/js/buttons.flash.min.js"></script>
		<script src="~/src/plugins/datatables/js/pdfmake.min.js"></script>
		<script src="~/src/plugins/datatables/js/vfs_fonts.js"></script>
		<!-- Datatable Setting js -->
		<script src="~/vendors/scripts/datatable-setting.js"></script>
}


